<div style="float:right">
  <a style="padding-right:20px;" routerLink="/">Back</a>
  <button (click)="BookTicket(selectedMovie.imdbID)">Book Now</button>
</div>
<div>
  <table>
    <tr>
      <td>
        <img style="height:300px; width:300px;" src="{{selectedMovie.poster}}">
      </td>
      <td style="vertical-align: top; padding-left:10px;">
        <b>IMDB Rating:</b> {{selectedMovie.imdbRating}}
        <br />
        <b>Language:</b> {{selectedMovie.language}}
        <br />
        <b>Location:</b> {{selectedMovie.location}}
        <br />
        {{selectedMovie.plot}}

      </td>
    </tr>
  </table>
</div>


<div>
  <br />
  <b>Cast and Stills:</b>
  <br />
  <img *ngFor="let still of selectedMovie.stills" style="height:200px; width:200px;padding-right:10px;" src="{{still}}">
</div>




