<h1 id="tableLabel">Movies</h1>

<p *ngIf="!movies"><em>Loading...</em></p>
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for movie by title">
</div>
<div style="height:10px">
</div>
<div style="float:right">
  <select (change)="changeLocation($event)">
    <option disabled>Select Language</option>
    <option *ngFor="let loc of locations">{{loc}}</option>

  </select>
  <select (change)="changeLanguage($event)">
    <option disabled>Select Location</option>
    <option *ngFor="let lan of languages">{{lan}}</option>
  </select>
</div>

<table class="table table-hover" aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th class="tableHeader" (click)="sort('title')"> Title</th>
      <th>Language</th>
      <th>Location</th>
      <th>IMDB Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies | appFilter : searchText" [routerLink]="['/moviedetails', movie.imdbID]">
      <td *ngIf=movie.movieBooked style="background-color:aquamarine">{{ movie.title }}</td>
      <td *ngIf=!movie.movieBooked>{{ movie.title }} </td>
      <td>{{ movie.language }}</td>
      <td>{{ movie.location }}</td>
      <td>{{ movie.imdbRating }}</td>
    </tr>
  </tbody>
</table>
 


